{% extends "/layouts/application.html" %}
{% block content %}
<!-- Header con logo de Linio -->
{% include '/layouts/header.html' %}
<br><br>
{% if error %}
  <h3 style="color:Tomato;">{{error}}</h3><br>
{% endif %}

<!--Formulario de registro -->
<div class="mx-auto" style="width: 400px;" >
  <!-- Título de la página -->
<h1 style="text-align: center;">Inicia sesión en Linio Express</h1>
<form role="form" id="LoginForm" method="post" >
  <div class="form-group">
    <label for="ruc">RUC</label>
    <input type="text" class="form-control" id="ruc" name="ruc" minlength="11" maxlength="11" required>
  </div>
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <button type="submit" class="btn btn-primary ">Iniciar Sesión</button>
</form>
<div class="dropdown-divider"></div>
  <a class="dropdown-item" href="{{ url_for('registrationP') }}">Crear una cuenta de Proveedor</a>
</div>

<!-- Footer -->
{% include '/layouts/footer.html' %}

{% endblock %}