
<!-- Botón para regresar a la página anterior desde cualquier parte -->
<script type="text/javascript">
    function volver(){
      history.back();
    }
  </script>
  
<!-- Footer -->
<footer class="page-footer font-small black">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
          <!-- Links -->
          <div class="card text-right" style="width: 18rem;">
            <button type="button" onclick="volver()" class="btn btn-info">Regresar a la página anterior</button>
         </div>
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Acerca de linio</h5>
  
          <ul class="list-unstyled">
            <li>
                <a href="#" target="_blank">Historia</a>
            </li>
            <li>
                <a href="#" target="_blank" >Ayuda</a>
            </li>
            <li>
                <a href="#" target="_blank" >Términos y condiciones</a>
            </li>
            <li>
                <a href="#" target="_blank" >Legales</a>
            </li>
          </ul>
  
        </div>
    
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="{{ url_for('home') }}"> Linio</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->