{% extends "/layouts/application.html" %}
{% block content %}
<!-- Header con logo de Linio -->
{% include '/layouts/header.html' %}

  {% if error %}
    <h3 style="color:Tomato;">{{error}}</h3>
  {% endif %}
  
  {% if message %}
    <h3 style="color:Tomato;">{{message}}</h3>
  {% endif %}
  
  <!-- En una lista pondremos los productos disponibles - maximo 5 -->
  {% if product_list %}
    {% for product in product_list %}
            <div>
              <img src="{{url_for('static', filename= product[6])}}" height="80" >
                <p>Nombre del Producto: {{product[1]}}</p>
                <p>Tienda: {{product[7]}}</p>
                <p>Precio: {{product[3]}}</p>
                <a href="{{ url_for('product_detail', idproducto = product[0]) }}">Ver producto</a>
                <a href="{{ url_for('add_carrito', idproducto = product[0]) }}">Añadir a carrito</a>
            </div>
    {% endfor %}
  {% else %}
          <h2>Aún no hay producto disponible</h2>
  {% endif %}


  <!-- Footer -->
{% include '/layouts/footer.html' %}
  
{% endblock %}