{% extends "/layouts/application.html" %}
{% block content %}
<!-- Header con logo de Linio -->
{% include '/layouts/header.html' %}

<!-- Título de la página -->
<h1>Detalle del Producto</h1>

{% if productos %}
<ul>
    <li>Nombre: {{productos[1]}}</li>
    <li>Descripción: {{productos[2]}}</li>
    <li>Precio: {{productos[3]}}</li>
    <li>Disponibles: {{productos[4]}}</li>
    <li>Tienda: {{productos[6]}}</li>
</ul>
{% else %}
    <h2 style="color:red;">No se ha encontrado tu producto</h2>
{% endif %}

<!-- Footer -->
{% include '/layouts/footer.html' %}
{% endblock %}