{% extends "/layouts/application.html" %}
{% block content %}
<!-- Header con logo de Linio -->
{% include '/layouts/header.html' %}

<!-- Título de la página -->
<h1>Registro de Producto</h1>

<!-- Mensaje de error -->
{% if error %}
  <h3 style="color:Tomato;">{{error}}</h3>
{% endif %}


<!--Formulario de registro -->
<form role="form" id="RegisterProductForm", method="post">
    <!-- Input de Nombre -->
    <label for="nombre">Nombre del producto</label><br>
    <input id="nombre" type="text" name="nombre"><br><br>
    <!-- Input de Categoria -->
    <label for="categoria">Categoria del producto(1 al 8)</label><br>
    <input id="categoria" type="number" name="categoria"><br><br>
    <!-- Input de Descripción -->
    <label for="descripcion">Descripción</label><br>
    <input id="descripcion" type="text" name="descripcion"><br><br>
    <!-- Input de Precio -->
    <label for="precio">Precio</label><br>
    <input id="precio" type="number" name="precio"><br><br>
    <!-- Input de Stock -->
    <label for="stock">Stock</label><br>
    <input id="stock" type="number" name="stock"><br><br>
    <!-- Enviar formulario-->
    <button type="submit">Registrar Producto</button>
</form>


<!-- Footer -->
{% include '/layouts/footer.html' %}
{% endblock %}